html {
    font-family: monospace;
    background-color: #ffffff;
    color: #2f3542;
}

hr { border: none; background-color: lightgrey; height: 2px;}

table { border: 1px solid lightgrey; border-collapse: collapse; text-align: left;}
tr,th { border-bottom: 1px solid lightgrey; }
tr:last-child { border-bottom: none; }
tr td:first-child { font-weight: 700; }
td:not(:last-child), th:not(:last-child) { border-right: 1px solid lightgrey; }

td, th{ padding: 0.25rem; }

@media (min-width: 600px) {
    body {
        max-width: 600px;
        margin: auto;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #2f3542;
        color: #ffffff;
    }
    a { color: #00a8ff; }
    a:visited { color: #9c88ff; }
    a:active { color: #e84118;}
}