html {
    font-family: monospace;
    background-color: #ffffff;
    color: #2f3542;
}

hr {
    border: none;
    background-color: lightgrey;
    height: 2px;
}

table {
    border: 1px solid lightgrey;
    border-collapse: collapse;
    text-align: left;
    white-space: nowrap;
    overflow-x: scroll;
    max-width: 100%;
    display: inline-block;
}

thead { background-color: whitesmoke; }

td:not(:last-child),
th:not(:last-child) {
    border-right: 1px solid lightgrey;
}

thead tr,
tr:not(:last-of-type) {
    border-bottom: 1px solid lightgrey;
}

td,
th {
    padding: 0.25rem;
}

#TOCLink {
    line-height: 0;
    position: fixed;
    bottom: 1.5rem;
    right: 1rem;
    font-size: 2rem;
    text-decoration: none;
}

@media (min-width: 600px) {
    body {
        max-width: 600px;
        margin: auto;
    }
    #TOCLink {
        right: calc((100vw - 600px) / 2);
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #2f3542;
        color: #ffffff;
    }

    a {
        color: #00a8ff;
    }

    a:visited {
        color: #9c88ff;
    }

    a:active {
        color: #e84118;
    }

    thead { background-color: #1e272e; color: white;}
}